* {
  margin: 0;
  padding: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row.score {
  align-content: center;
  background: lightgray;
  color: black;
  height: 40px;
  justify-content: center;
  width: 400px;
}
.blank {
  background-color: black;
  display: inline-block;
  height: 40px;
  width: 40px;
}
.wall {
  background-color: blue;
  display: inline-block;
  height: 40px;
  width: 40px;
}
.sushi {
  background-color: black;
  background-image: url("./images/sushi.png");
  background-size: cover;
  display: inline-block;
  height: 40px;
  width: 40px;
}
.onigiri {
  background-color: black;
  background-image: url("./images/onigiri.png");
  background-size: cover;
  display: inline-block;
  height: 40px;
  width: 40px;
}
#ninjaman {
  background-color: black;
  background-image: url("./images/ninja.gif");
  background-size: cover;
  display: inline-block;
  height: 40px;
  left: 40px;
  position: absolute;
  top: 40px;
  width: 40px;
}
